html, body, div, a, img{
	margin: 0;
	padding: 0;
}
a{
    text-decoration: none;
}
body{
	background: #191919;
}
    #gallary{
    	width: 800px;
    	margin: auto;
    	margin-top: 100px;
    }
        #display-images{
        	width: 600px;
        	height: 400px;
        	float: left;
        	overflow: hidden;
        	border-radius: 10px;
        }
            #slider{
                position: relative;    
            }
                #slider img{
                	width: 600px;
                	height: 400px;
                }
        #images-selector{
        	float: left;
        	margin-left: 20px;
        }
            #images-selector img{
                display: block;
                width: 110px;
                height: 70px;
                margin-bottom: 10px;
                opacity: 0.4;
                border-radius: 10px;
            }
        #control-container{        	
        	width: 600px;
        	position: absolute;
        	left: 283px;
        	top: 460px;
        	background: #191919;
        	opacity: 0.9;
        }
            #controls{
                display: inline-block;
            	position: relative;
            	left: 230px;
                height: 40px;
            }
                .control-btn{
                	height: 40px;

                } 
                .control-btn img{
                	width: 40px;
                	height: 40px;
                    border-radius: 20px;
                }
