@media screen and (max-width: 980px ){
    .wrapper{
        width: 98%;
    }
}
@media screen and (max-width: 800px ){
    /*Start nav */
    .toggle-nav{    
        display: inline-block;
        width: 50px;
        height: 50px;      
        position: fixed;
        top: 20px;
        left: 0;
        z-index: 10000;
    }
        .toggle-nav span{
            text-align: center;
            display: block;
            line-height: 50px;
            font-size: 50px;
            cursor: pointer;
            color: #c3c8d6;
        }
    .user-nav{
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 101%;
        width: 50%;
        height: 102%;
        margin-top: 0;
        background: #262b37;
        overflow: auto;
    }
        .user-nav ul{
            background: #262b37;
        }
            .user-nav ul li{
                width: 100%;
                border-bottom: 2px solid #fff;
                background: #262b37;
            }
                .user-nav ul li:first-child{
                    margin-top: 100px;
                }
                .user-nav ul li a{ 
                    padding: 25px 20px 25px 20px;
                }
        .openNav{
            right: 50%;
        }
    /*End nav */
}
@media only screen and (max-width : 640px) {
    .home h1{
        padding: 5px;
    }
    .skills-text{
        width: 30%;
    }
    .progress-bar {
        width: 68%;
    }
    .portfolio-content div{
        width: 30%;
        margin-right: 5%;
    }
        .portfolio-content div:nth-child(4n+0){
            margin-right: 5%;
        }
        .portfolio-content div:nth-child(3n+0){
            margin-right: 0;
        }
    .work{      
        width: 25%;
        margin-right: 1%;
        padding-right: 1%;
    }
    .job-description{
        width: 72%;
    }
    .contact  article{
        float: none;
        width: 100%;
        margin-right: 0;
    } 
}
@media only screen and (max-width : 480px) {
    html{
        font-size: 15px;
    }
        h1{
            font-size: 2.533rem;
        }
        .user-nav{
            width: 70%;
        }
        .openNav{
            right: 30%;
        }
        .about-me-text{
            width: 100%;
            margin-right: 0;
        }  
        .about-me-img{
            display: none;
        } 
}
@media only screen and (max-width : 380px) {
        .skills-text{
            float: none;
            width: 100%;
            margin-right: 0;
        }
        .progress-bar {
            float: none;
            width: 100%;
        }
        .portfolio-content div{
            width: 49%;
            margin-right: 2%;
        }
            .portfolio-content div:nth-child(2n+0){
                margin-right: 0;
            }
            .portfolio-content div:nth-child(3n+0){
                margin-right: 2%;
            }
            .work{      
                width: 30%;
                margin-right: 1%;
                padding-right: 1%;
            }
            .job-description{
                width: 67%;
            }
                .job-description > div{
                    padding: 10px;
                }
}