html,body,div,header,h1,h2,h3,a,ul,li,img,section,p{
    margin: 0;
    padding: 0;
}
html{
    font: 16px "Georgia" sans-serif;
    background: url("../images/background.jpg") repeat 0 0; 
    color: #E7E7E7;
}
img{
    border: 0;
}
a{
    text-decoration: none;
    color: #E7E7E7;
}
p{
    font-size: 16px;
}
li{
    list-style-type: none;
}
#msg{
    position: fixed;
    z-index: 100000;
    width: 100%;   
    height: 60px;
    background: #ffd7d7;
    border: 2px solid #df8f8f;
    display: none;
}
    #msg-text{
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
        color: #000;
    }
.button{
    height: 35px;
    width: 120px;
    background: #f5534b;
    color: #E7E7E7;
    font-weight: bold;
    border-radius: 5px;
    border-color: #f5534b;
    opacity: 0.6;
    cursor: pointer;
} 
.input-field{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.close{
    float: right;
    color: #E7E7E7;  
    font-weight: bold;             
}
.content-button{
    display: inline-block;      
    width: 630px;
    height: 30px;
    line-height: 30px;        
    padding-left: 20px;
    background: #888888;
    font-weight: bold;
}
#wrapper{
    margin: 0 auto;
    width: 960px;
} 
/*Start header*/
/*Start nav*/
#nav{
    width: 100%;   
    height: 60px;
    background: #231f20;
    margin-bottom: 30px;
}
    #nav ul li{
        display: inline-block;
    }
    #global-nav{
        display: inline-block;
        position: relative;
        left: 195px;
    }    
        #global-nav li a{
            display: block;
            color: #E7E7E7;
            text-transform: uppercase;
            line-height: 60px;        
            padding: 0 30px;
        }
            #global-nav li:hover{
                background: #424A5E;
            }
        .active{
            background: #424A5E;
        }
    .user-nav{
        float: right;   
        margin-right: 195px;     
    }
        .nav-btn{
            display: block;
            color: #f5534b;
            line-height: 60px;        
        }
            .nav-btn:hover{
                text-decoration: underline;
            } 
        #login-register-nav span{
            color: #ff675f;      
        }            
        #logout-nav{
            display: none;    
        }  
            #user-text{
                color: #E7E7E7;
                margin-right: 10px;
            }  
            #logout-nav span{
                font-weight: bold;
            } 
/*End nav*/  
/*End header*/ 
/*Start form container*/
.form-container{
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    background: url('../images/opacity.png'); 
}
    .form{
        position: relative;
        width: 400px;
        height: 160px;
        top:200px;
        margin: 0 auto;
        padding: 20px;
        background: #424A5E;
        border-radius: 10px;
    }
        .form > div{
            height: 20px;
            margin-bottom: 20px;
            float: right;
        }        
        .input-label{
            height: 30px;
            width: 375px;
        }
        #login-container{
            display: none;
        }
        #register-container{
            display: none;
        }
/*End form container*/
/*Start section*/
#section{
    float: left;
}
    .content{
        max-height: 660px;
        width: 650px;
        margin-bottom: 30px;
        padding: 20px;
        background: #231f20;
    }
    #add-news-container{
        display: none;
    }
        #add-news-form{
            height: 620px;
            padding: 20px;
            background: #000;
            border-radius: 10px;
        }
            #add-news-form-text{
                clear: both;
                margin-bottom: 10px;
                font-weight: bold;
            }
            #news-title{
                width: 585px;
            }
            #news-content{
                width: 585px;
                height: 475px;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 10px;
                border-radius: 5px;           
            }
            #add-button{
                float: right;
            }
    .div-news{
        float: left;
        width: 216px;
        height: 110px;
        padding: 10px; 
        box-sizing: border-box;            
    }
       .news{
            display: inline-block;
            width: 100%;
            height: 100%;   
            overflow: hidden;
            word-wrap: break-word; 
            background: #424A5E; 
            opacity: 0.6; 
            padding: 10px;
            box-sizing: border-box; 
        }
            .news-text{
                display: inline-block;
                width: 176px;
                height: 70px;
            }
    #read-news-container{
        display: none;
    }
        .read-more{
            max-height: 520px;
            padding: 20px;
            background: #000;  
            border-radius: 10px; 
        }
            .read-container-title{
                clear: both;
                margin-bottom: 10px;
                font-weight: bold;
                text-transform: uppercase;
                word-wrap: break-word;
            }
            .content-author{
                max-height: 520px;
                margin-bottom: 10px;
                text-transform: inherit;
                overflow: auto;
            }
            #read-news-container-author > p{
                text-align: justify;
                margin-bottom: 10px;
                word-wrap: break-word;
            }
            .author > span{
                color: #424A5E;
            }
            #delete-news-button{
                margin-left: 490px;     
            }
                #delete-news-button:hover{
                    opacity: 1;
                }
/*Start section index.html*/
#gallary{
    width: 650px;
    height: 450px;
    background: #231f20;
    margin-bottom: 30px;
    padding: 20px;
}
    #display-images{
        width: 650px;
        height: 350px;
        float: left;
        overflow: hidden;
        border-radius: 10px;
    }
        #slider{
            position: relative;    
        }
            #slider img{
                width: 650px;
                height: 350px;
            }
    #images-selector img{
        width: 120px;
        height: 90px;
        margin-right: 8px;
        margin-top: 10px;
        opacity: 0.4;
        border-radius: 10px;
        cursor: pointer;
    }
    #images-selector img:last-child{
        margin-right: 0;
    }
#last-news-container{
    margin-top: 20px;
    height: 330px;
    overflow: hidden;
}
/*End section index.html*/
/*Start section news.html*/
#news-page-content{
    max-height: 660px;
}
    #all-news-container{
        margin-top: 20px;
        height: 550px;
        overflow: hidden;
    }
.page_navigation{
    text-align: center;
}
    .page_navigation , .alt_page_navigation{
        margin-top: 30px;
        margin-bottom: 20px;
    }        
    .page_navigation a, .alt_page_navigation a{
        padding:10px 10px;
        margin:3px;
        color: #E7E7E7;
        font-size: 14px;
        background-color:#888888;
        opacity: 0.4;
    }
    .page_navigation .ellipse, .more{
        color: #E7E7E7;
        opacity: 0.4;
    }
    .page_navigation .active_page{
        background-color:#888888 !important;
        opacity: 1;
    }          
/*End section news.html*/
/*Start section events.html*/
#events-container{
    margin-top: 20px;
    height: 610px;
    overflow: hidden;
}
    .div-events{
        float: left;
        width: 162px;
        height: 203px;
        padding: 10px; 
        box-sizing: border-box;            
    }
        .events{
            display: inline-block;
            width: 100%;
            height: 100%;   
            overflow: hidden;
            word-wrap: break-word; 
            background: #424A5E; 
            opacity: 0.6; 
            padding: 10px;
            box-sizing: border-box; 
        }
            .events-text{
                //display: inline-block;
                position: relative;
                top: -40px;
                padding: 5px;
                width: 100%;
                height: 38px;
                font-size: 12px;               
                display: none;
                background: #000;
                opacity: 0.8;
                box-sizing: border-box;
            }
    .events-images{
        width: 100%;
        height: 100%;   
    }
#read-events-container{
    display: none;
}    
    .read-events{
        max-height: 620px;
        padding: 20px;
        background: #000; 
        border-radius: 10px;
    }
        #read-events-container-title{
            float: left;
            width: 425px;
        }
            #read-events-container-title > pre{
                font: 16px "Georgia" sans-serif;
                margin-top: 0;
                word-break: break-word;
            }
        .read-events-imgages{
            float: right;
            height: 200px;
            width: 155px;
            border: 5px solid #231f20;
            margin-bottom: 20px;
        }
        #delete-events-button{
            margin-left: 490px;      
        } 
        .read-events::after{
            content:"";
            display:block;
            clear:both;
        }    
/*End section events.html*/   
/*End section*/
/*Start aside*/
#aside{
    float: right;
    width: 270px;
}
    #add-news{
        margin-left: 30px; 
        margin-bottom: 30px;
        padding: 20px;
        background: #231f20;
    }
        #add-news-btn{
            width: 200px;
            text-align: center;
            display: inline-block;
            line-height: 35px;  
            border-radius: 0;        
        }
    .banner{
        margin-left: 30px; 
        margin-bottom: 30px;
        padding: 20px;
        background: #231f20;
    }
        .banner img{
            width: 100%;
        }
/*End aside*/