html,body,div,header,h1,h2,h3,a,ul,li,img,section,p{
    margin: 0;
    padding: 0;
}
html{
    font: 16px "Georgia" sans-serif;
    background: url("../images/background.jpg") repeat 0 0;
    color: #c3c8d6;
}
img{
    border: 0;
}
a{
    text-decoration: none;
    color: #c3c8d6;
}
p{
    font-size: 16px;
}
li{
    list-style-type: none;
}
#msg{
    position: fixed;
    z-index: 100000;
    width: 100%;   
    height: 60px;
    background: #ffd7d7;
    border: 2px solid #df8f8f;
    display: none;
}
    #msg-text{
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
        color: #000;
    }
.button{
    width: 100px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #6d2421;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer; 
} 
.input-field{
    width: 865px;
    height: 30px;
    margin-bottom: 20px;
    border: 2px solid #6d2421;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#wrapper{
    margin: 0 auto;
    width: 960px;
} 
/*Start header*/
/*Start nav*/
#nav{
    width: 100%;   
    height: 60px;
    background: #231f20;
    margin-bottom: 30px;
}
    #nav ul li{
        display: inline-block;
    }
    #global-nav{
        display: inline-block;
        position: relative;
        left: 195px;
    }    
        #global-nav li a{
            display: block;
            color: #c3c8d6;
            text-transform: uppercase;
            line-height: 60px;        
            padding: 0 30px;
        }
            #global-nav li:hover{
                background: #424A5E;
            }
    .user-nav{
        float: right;   
        margin-right: 195px;     
    }
        .nav-btn{
            display: block;
            color: #f5534b;
            line-height: 60px;        
        }
            .nav-btn:hover{
                text-decoration: underline;
            } 
        #login-register-nav span{
            color: #ff675f;      
        }            
        #logout-nav{
            display: none;    
        }  
            #user-text{
                color: #fff;
                margin-right: 10px;
            }  
            #logout-nav span{
                font-weight: bold;
            } 
/*End nav*/  
/*End header*/ 
/*Start form container*/
.form-container{
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    background: url('../images/opacity.png'); 
}
    .form{
        position: relative;
        width: 400px;
        height: 160px;
        top:200px;
        margin: 0 auto;
        padding: 20px;
        background: #424A5E;
        border-radius: 10px;
    }
        .form > div{
            height: 20px;
            margin-bottom: 20px;
            float: right;
        }
        .close{
            color: #fff;  
            font-weight: bold;             
        }
        .input-label{
            height: 30px;
            width: 375px;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
        .input-button{
            height: 35px;
            width: 120px;
            background: #f5534b;
            color: #fff;
            font-weight: bold;
            border-radius: 5px;
            border-color: #f5534b;
        }
        #login-container{
            display: none;
        }
        #register-container{
            display: none;
        }
/*End form container*/
/*Start section index.html*/
#gallary-register{
    height: 400px;
    margin-bottom: 30px;
    background: #231f20;    
}
    #register-container{
        padding: 20px;
        display: none;
    }
        #register-form{
            height: 320px;
            padding: 20px;
            background: #000;
        }
            .exit-button{
                float: right;
                font-weight: bold;
                font-size: 18px;
            }
            #register-form-text{
                clear: both;
                margin-bottom: 20px;
                font-weight: bold;
            }
    #gallary{
        width: 920px;
        height: 360px;
        margin: auto;
        background: #231f20;
        margin-bottom: 30px;
        padding: 20px;
    }
        #display-images{
            width: 750px;
            height: 360px;
            float: left;
            overflow: hidden;
            border-radius: 10px;
        }
            #slider{
                    position: relative;    
                }
                #slider img{
                    width: 750px;
                    height: 360px;
                }
        #images-selector{
            float: left;
            margin-left: 20px;
        }
            #images-selector img{
                display: block;
                width: 145px;
                height: 104px;
                margin-bottom: 20px;
                opacity: 0.4;
                border-radius: 10px;
            }
#content{
    height: 650px;
    margin-bottom: 30px;
    padding: 20px;
    background: #231f20;
}
    .content-button{
        display: inline-block;
        height: 30px;        
        background: #424A5E;
        border: 1px solid #fff;
        border-radius: 5px;         
        font-weight: bold; 
        line-height: 30px;          
        cursor: pointer; 
    }
    #last-news-button{        
        width: 650px;
        padding-left: 20px;
    }
    #add-news-button{
        float: right;
        width: 220px;
        margin-left: 20px;
        text-align: center;
        display: none;
    }
    #banner{
        float: right;
        margin-top: 20px;
    }
        .banners{
            margin-bottom: 20px;
            width: 220px;
        }
#add-news-container{
    display: none;
}
    #add-news-form{
        height: 610px;
        padding: 20px;
        background: #000;
    }
        #add-news-form-text{
            clear: both;
            margin-bottom: 20px;
            font-weight: bold;
        }
        #news-content{
            width: 865px;
            height: 430px;
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 20px;
            border: 2px solid #6d2421;
            border-radius: 5px;           
        }
        #add-button{
            float: right;
        }
#news-container{
    float: left;
    margin-top: 20px;
    width: 500px;
    height: 595px;
    overflow: auto;
    border-left-color: #555555; 
    border-left-width: medium; 
    border-left-style: double;
}
    .list-news >li{
        margin-left: 20px;
        border-bottom-style: dotted;
        border-bottom-color: #555555; 
        border-bottom-width: medium;        
    }
        .list-news >li:last-child{
            border-bottom: none;
        }
    .news{
        display: inline-block;
        width: 480px;
        padding-top:10px; 
        padding-bottom:10px;                  
        font-size: 18px;
        text-transform: uppercase;
        list-style-type: none;
    }
        .news:hover{
            color: #424A5E;
        }  

.read-more{
    max-height: 610px;
    padding: 20px;
    background: #000;  
    border-radius: 10px; 
}
    .read-container-title{
        clear: both;
        margin-bottom: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .content-author{
        max-height: 500px;
        margin-bottom: 20px;
        text-transform: inherit;
        overflow: auto;
    }
    #read-news-container-author > p{
        text-align: justify;
        margin-bottom: 10px;
    }
    #delete-news-button{
        margin-left: 780px;  
        display: none;      
    }
/*End section index.html*/
/*Start section events.html*/
#last-events-button{        
    width: 650px;
    padding-left: 20px;
}
#events-container{
    margin-top: 20px;
    padding: 20px;
    width: 880px;
    height: 555px; 
}
    .list-events >li{
        margin-bottom: 20px;
        margin-right: 20px; 
        display: inline-block;  
    }
        .list-events >li:last-child{
            margin-left: 0;     
        }
    .events{
        display: inline-block;
        text-transform: uppercase;   
        height: 275px;
        width: 155px;

    }
        .events:hover{
            color: #424A5E;
        }  
    .events-images{
        height: 200px;
        width: 155px;
    }
.read-events{
    max-height: 610px;
    padding: 20px;
    background: #000; 
    border-radius: 10px;
}
    #read-events-container-title{
        float: left;
        width: 650px;
    }
        #read-events-container-title > pre{
            font: 16px "Georgia" sans-serif;
            margin-top: 0;
        }
    .read-events-imgages{
        float: right;
        height: 200px;
        width: 155px;
        border: 5px solid #231f20;
        margin-bottom: 20px;
    }
#delete-events{
    clear: both;
}
    #delete-events-button{
        margin-left: 780px;  
        display: none;      
    } 
/*End section events.html*/   



