@media screen and (max-width: 1280px ){
    /*Start section*/
    .article{
        min-height: 800px;
    }
        #contact{
            min-height: 800px;
        }
    /*End section*/
}
@media screen and (max-width: 960px ){
    /*Start section*/
    .wrapper{
        width: 940px;
    }
    .article{
        min-height: 625px;
    }
        #home-text{
            display: none;
        }
        .about-sidebar{
            display: block;
            width: 100%;
            margin-bottom: 50px;
        }
        .about-me-text{
            display: block;
            width: 100%;
            margin-bottom: 50px;
        }
        #about-me-container{
            text-align: center;
        }
        .progress-bar{
            width: 780px;
        }
        .portfolio-content div{
                width: 220px;
                height: 220px;
            }
            .portfolio-content div img{
                width: 220px;
                height: 220px;
            }
        .job-description{
            width:680px;
        }
    #contact{
        min-height: 800px;
    }
        #contact-details{
            display: block;
            margin-bottom: 30px;
        }
    /*End section*/
}
@media screen and (max-width: 800px ){
    /*Start nav*/
    #nav li a{     
        padding: 0 15px;
    }
    /*End nav*/ 
    /*Start section*/
    .wrapper{
        width: 750px;
    }
        .progress-bar{
            width: 590px;
        }
        .job-description{
            width:490px;
        }
    /*End section*/
}
@media only screen and (max-width : 640px) {
    /*Start nav*/
    #nav li a{     
        padding: 0 2px;
    }
    /*End nav*/   
    /*Start section*/
    .wrapper{
        width: 620px;
    }
        .progress-bar{
            width: 450px;
        }
        .job-description{
            width:360px;
        }
    /*End section*/
}
@media only screen and (max-width : 480px) {
    /*Start nav*/
    #nav{
        height: 155px;
    }
        #nav ul li{
            display: block;
            border-bottom: 1px solid #1b1f29;
        }
        #nav ul li:last-child{
            border-bottom: none;
        }
            #nav li a{
                line-height: 25px;        
            }
    /*End nav*/   
    /*Start section*/
    .wrapper{
        width: 400px;
    }
    #section{
        margin-top: 155px;
    }
        .article{
            min-height: 440px;
        }
            .container{
                padding-top: 120px;
                padding-bottom: 70px;        
            }
                .heading{
                    padding-bottom: 20px;
                }
                    .heading h2{
                        font-size: 20px;
                    } 
            .about-sidebar p{
                line-height: 17px;
            }
            .about-me-text{
                line-height: 17px;
            } 
            #about-me-container >img{
                display: none;
            }
            .skills-text{
                font-size: 16px;
            }
            .progress-bar{
                width: 395px;
                height: 20px;
            }
            .portfolio-content div{
                width: 150px;
                height: 150px;
            }
                .portfolio-content div img{
                    width: 150px;
                    height: 150px;
                }
        .work{      
            width: 85px;
            margin-right: 5px;
        }
            .work-year{  
                width: 80px;
                height: 50px;             
            }
                .work-date{
                    height: 16px;
                    line-height: 16px;   
                    font-size: 14px;  
                }   
                .from{
                    margin-top: 5px;
                }
        .job-description{    
            padding: 0;
            width: 300px;
        }
        #contact{
            min-height: 440px;
        }
            #contact-details h3{
                font-size: 16px;
            }
            #send-message{
                display: none;
            }
    /*End section*/
}
@media only screen and (max-width : 320px){
    /*Start section*/
    .wrapper{
        width: 300px;
    }
    #section{
        margin-top: 129px;
    }
        .progress-bar {
            width: 285px;
        }
        .portfolio-content div{
            width: 200px;
            height: 200px;
            margin-left: 50px;
        }
            .portfolio-content div img{
                width: 200px;
                height: 200px;
            }
        .job-description{    
            width: 190px;
        }
        #contact-details{
            display: block;
            width: 285px;
        }
            i{
                padding-right: 8px;
            }
    /*End section*/
}