@media screen and (max-width: 1280px ){
    /*Start section*/
    .article{
        min-height: 800px;
    }
    #contact{
        min-height: 800px;
    }
    /*End section*/
}
@media screen and (max-width: 960px ){
    /*Start section*/
    .wrapper{
        width: 940px;
    }
    .article{
        min-height: 610px;
    }
    #home-text{
        display: none;
    }
    .about-sidebar{
        display: block;
        width: 100%;
        margin-bottom: 50px;
    }
    .about-me-text{
        display: block;
        width: 100%;
        margin-bottom: 50px;
    }
    #about-me-container >img{
        position: relative;
        left: 224px;
    }
    .progress-bar{
        width: 780px;
    }
    .job-description{
        width:720px;
    }
    #contact{
        min-height: 800px;
    }
        #contact-details{
            display: block;
            margin-bottom: 30px;
        }
    /*End section*/
}
@media screen and (max-width: 800px ){
    /*Start section*/
    .wrapper{
        width: 750px;
    }
    .progress-bar{
        width: 590px;
    }
    .job-description{
        width:520px;
    }
    /*End section*/
}
@media only screen and (max-width : 640px) {
    /*Start nav*/
    #nav li a{     
        padding: 0 25px;
    }
    /*End nav*/   
    /*Start section*/
    .wrapper{
        width: 620px;
    }
    #about-me-container >img{
        left: 150px;
    }
    .progress-bar{
        width: 450px;
    }
    .job-description{
        width:390px;
    }
    /*End section*/
}
@media only screen and (max-width : 480px) {
    /*Start nav*/
    #nav li a{     
        padding: 0 10px;
    }
    /*End nav*/   
    /*Start section*/
    .wrapper{
        width: 400px;
    }
    .container{
        padding-top: 70px;
        padding-bottom: 70px;        
    }
    .article{
        min-height: 440px;
    }
    .heading{
        padding-bottom: 30px;
    }
    .heading h2{
        font-size: 20px;
    } 
    /*Start about-me*/
    .about-sidebar p{
        line-height: 17px;
    }
    .about-me-text{
        line-height: 17px;
    } 
    #about-me-container >img{
        display: none;
    }
    /*End about-me*/
    /*Start skills*/
    .skills-text{
        display: block;
        line-height: 17px;
        font-size: 16px;
    }
    .progress-bar{
        width: 395px;
        height: 20px;
    }
    /*End skills*/
    /*Start experience*/
    .work{      
        width: 55px;
        margin-right: 5px;
    }
    .work-year{  
        width: 50px;
        height: 50px;             
    }
        .work-date{
            top: 5px;
            left: 10px;
        } 
    .job-description{    
        padding: 0;
        width: 330px;
    }
    .job-description h4{
        padding-bottom: 0;
    }
    /*End experience*/
    /*Start contacts*/
    #contact{
        min-height: 440px;
    }
        #contact-details h3{
            font-size: 16px;
            padding-bottom: 0;
        }
        #contact-details a{
            line-height: 17px;
        }
        #send-message{
            display: none;
        }
    /*End contacts*/
    /*End section*/
}
@media only screen and (max-width : 320px){
    /*Start nav*/
    #nav{
        height: 129px;
    }
        #nav ul li{
            display: block;
            border-bottom: 1px solid #1b1f29;
        }
        #nav ul li:last-child{
            border-bottom: none;
        }
        #nav li a{
            line-height: 25px;        
        }
    /*End nav*/
    /*Start section*/
    .wrapper{
        width: 300px;
    }
    #section{
        margin-top: 129px;
    }
    /*Start skills*/
    .progress-bar {
        width: 285px;
    }
    /*End skills*/
    /*Start experience*/
        .job-description{    
            width: 230px;
        }
    /*End experience*/
    /*Start contacts*/
    #contact-details{
        display: block;
        width: 285px;
    }
        i{
            padding-right: 5px;
        }
    /*End contacts*/
}